# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test
coverage/
.nyc_output/

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# docker volumes (local bind mount, kalau dipakai)
.docker-data/

Tes Teknis Fullstack Developer - Luwes Inovasi Mandiri.pdf